:root{
    --primary: #0C3242;
    --warning: #ffd028;
    --danger: #eb420f;
    --success: #28ff33;
    --white: #ffffff;
    --dark: #000000;
}

.btn {
    font-family: "Roboto", sans-serif;
    position: absolute;
    /* margin-top: -98vh;
    margin-left: 90vw; */
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: tramsform 0.3s ease;
}

.btn:hover{
    transform: translateY(-3px);
}

/* Button  colors */
.btn--primary--solid{
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--primary--outline{
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}


/* Button Size */

.btn--medium{
    padding: 10px 20px;
    font-size: 18px;
}

.btn--small{
    padding: 15px 30px;
    font-size: 20px;
}